# Acesso sem root ao Attack Shark X85 Pro (e ao canal vendor da tela).
# Instale em /etc/udev/rules.d/ e recarregue (depois RECONECTE o cabo USB):
#   sudo cp 99-attackshark.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger
#
# Usamos MODE="0666" (padrão de projetos de teclado tipo QMK/OpenRGB) porque o
# TAG+="uaccess" nem sempre concede ACL para nós hidraw. O uaccess fica como bônus.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3151", ATTRS{idProduct}=="5002", MODE="0666", TAG+="uaccess"
SUBSYSTEM=="usb",    ATTRS{idVendor}=="3151", ATTRS{idProduct}=="5002", MODE="0666", TAG+="uaccess"
